body {
  background-color: #a8e6cf;
}

img {
  border-radius: 50%;
}

hr {
  border: none;
  background-color: #ffd3b6;
  border-radius: 50%;
  height: 2px;
  width: 70%;
}

h2 {
     color: #216353;
     font-family: "Comic Sans";
}
